*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "adobe-clean", sans-serif;
}
.question{
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
  
}

.questionList{
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    align-items: center;
}

.h{
    cursor: pointer;
}
.haa{
    cursor: pointer;
}
.anchor{
    cursor: pointer;
   font-size: 1em;
   color: black;
}

.answers-details{
   
    display: flex;
    align-items: center;
    justify-content: space;
    margin: 20px;
}
/* fix the style of the buttons that have className buttons */
.buttons{
    margin: 10px;
    padding: 20px 5px;
}
/* fix the style of the header as h1 that has the className header */
.header{
    display: flex;
    color: gray;
    margin-left: 90px;
    margin-top: 20px;
}
/* fix the style of an anchor tag that has the className help*/
.help{
    cursor: pointer;
    color:gray;
    
}
.paragraph{
    color: gray;
    
}
.span{
    color: gray;
}

.images{
    display: flex;
}
.image{
    display: flex;
    height: 150px;
    width: 250px;
    justify-content:center;
}