*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fix the style of the body */
body{
    font-family: "adobe-clean", sans-serif;
}
/* fix the style of each question */
.question{
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
  
}
/* fix the style of questions list */
.questionList{
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    align-items: center;
}
/* fix the style of each anchor tag */
.anchor{
    cursor: pointer;
   font-size: 1em;
   color: black;
}
/* fix the style of the answers */
.answers-details{
   
    display: flex;
    align-items: center;
    justify-content: space;
    margin: 20px;
}
/* fix the style of the buttons that have className buttons */
.buttons{
    margin: 10px;
    padding: 20px 5px;
    display: inline-block;
    cursor: pointer;
}

/* fix the style of the header as h1 that has the className header */
.header{
    display: flex;
    color: gray;
    margin-left: 90px;
    margin-top: 20px;
}
/* fix the style of an anchor tag that has the className help*/
.help{
    cursor: pointer;
    color:gray;
    
}
/* fix the style of a paragraph that have the className paragraph*/
.paragraph{
    color: gray;
    
}
.span{
    color: gray;
}
/* fix the style of all images */
.images{
    display: flex;
}
/* fix the style of one image */
.image{
    display: flex;
    height: 150px;
    width: 250px;
    justify-content:center;
}
.form-control{
    display: flex;
   
}

